* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body {
    margin: 0 auto;
    color: #222;
    font-family: var(--font1);
    font-size: 14px;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #222;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.container {
    position: relative;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap
}

.center {
    text-align: center;
}

.space-between {
    justify-content: space-between;
}

.icon-svg {
    width: 14px;
    height: 14px;
    fill: currentColor;
    vertical-align: middle;
}

.ic {
    width: 16px;
    height: 16px;
    fill: #757575;
    display: inline-block;
    vertical-align: middle;
}

img {
    border: 0px;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
    vertical-align: middle;
}

a {
    &:hover {
        text-decoration: none
    }
}

.hidden {
    display: none !important
}

.clearfix {
    clear: both;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb24 {
    margin-bottom: 24px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt12 {
    margin-top: 12px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.thumb_img {
    display: block;
    overflow: hidden;
    height: 1px;
    position: relative;
    width: 100%;
}

.thumb_img.thumb_video,
.embed-container {
    padding-bottom: 56.25%;
}

.thumb_img.thumb_5x3 {
    padding-bottom: 60%;
}

.thumb_img.thumb_5x5,
.thumb_1x1 {
    padding-bottom: 100%;
}

.thumb_img,
.thumb_video,
.thumb_16x9 {

    img,
    video,
    iframe {
        -o-object-position: top;
        object-position: top;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

input {
    outline: 0
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background: #fff;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    padding: 0 12px;
    outline: none;
    font-family: arial;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    appearance: none;
}

#to_top {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #E5E5E5;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}