.tp1-box6 {
    margin-bottom: 40px;
    padding-bottom: 40px;

    .heading-tile {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.4;
        color: #4b4b4b;
        margin-bottom: 20px;
    }

    .flex.wrap {
        border-radius: 15px;
        overflow: hidden;
        background: #f4f4f4;

        .image {
            position: relative;

            img {
                -o-object-position: top;
                object-position: top;
                -o-object-fit: cover;
                object-fit: cover;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }

        .image,
        .content {
            width: 50%;
        }

        .content {
            padding: 57px 65px;


            .caption {
                color: #8e8e8e;
                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            h3 {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                margin-bottom: 30px;
                color: #222;
                font-size: 22px;
                font-weight: 600;
                height: 90px;
                line-height: 1.4;
            }

            p {
                font-size: 16px;
            }

            .author {
                font-weight: 600;
                font-size: 16px;
                color: #222;
                margin-top: 24px;
            }

            .view-all {
                color: #7e6fda;
                font-size: 16px;
                display: block;
                margin-top: 2.5rem;
            }
        }
    }
}