.tp1-box10 {
    position: relative;
    background: linear-gradient(0deg, #2e2d33 0, #685dba 50%, #867ade 100%);
    padding-bottom: 170px;
    margin-top: 0px;
    padding-top: 4rem;
    color: #fff;
    font-size: 23px;
    line-height: 1.6;
    .button {
        background-color: #fff;
        color: #7e6fda;
        text-shadow: none;
        background-image: none;
        font-size: 22px;
        font-weight: 600;
        border-radius: 40px;
        padding: 18px 50px;
        display: inline-block;
        margin-top: 20px;

        i {
            color: #ffcf48;
        }
    }
    .title{
        font-size: 62px;
        margin-bottom: 60px;
        font-weight: bold;
        span{
            color: #ffcf48;
            display: inline-block;
        }
    }
    p{
        margin-bottom: 60px;
    }
    ul{
        li{
            padding: 15px 15px 15px 35px;
            position: relative;
            &::before{
                content: "";
                background: #fff;
                border-radius: 50%;
                position: absolute;
                top: 30px;
                left: 0;
                width: 10px;
                height: 10px;
            }
        }
    }
    @media (max-width: 991px){
        font-size: 18px;
        padding-bottom: 50px;
        padding-top: 2rem;
        .title{
            font-size: 42px;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 15px;
        }
        .text-right{
            text-align: center!important;
        }
        ul{
            li{
                padding: 10px 15px 10px 25px;
                &::before{
                    top: 18px;
                }
            }
        }
        .button{
            font-size: 18px;
            padding: 13px 40px;
        }
    }
    @media (max-width: 576px){
        .title{
            font-size: 30px;
        }
    }
}