#lp1_box4 {
    .row1 {
        padding: 0 5%;
        justify-content: center;
        margin-bottom: 20px;

        [class*='col-'] {
            margin: 20px 0;
        }

        .icon {
            width: 98px;
            height: 98px;
            line-height: 95px;
            border-radius: 50%;
            display: block;
            background: #e0ad1f;
            text-align: center;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            margin: 0 auto 15px;
        }

        h4 {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 0 30px;
        }
    }

    .row2 {
        margin: 0 -8px 15px -8px;
        justify-content: center;

        [class*="col-"] {
            padding: 0 8px;
            margin-bottom: 30px;
        }
    }

    .btn {
        width: 209px;
        height: 48px;
        border-radius: 30px;
        background-color: #e0ad1f;
        position: relative;
        font-size: 17px;
        text-transform: uppercase;
        display: flex;
        margin: 0 auto 40px;
        padding: 0;
        color: #fff;
        line-height: 48px;
        text-align: center;
        font-weight: 500;

        .icon {
            width: 40px;
            height: 40px;
            line-height: 35px;
            background: #fff;
            border-radius: 50%;
            margin: 4px 10px 0 4px;
        }
    }



    @media (max-width:576px) {
        .row2 {
            display: none
        }

        .row1 {
            [class*='col-'] {
                margin: 10px 0;
            }

            .icon {
                width: 67px;
                height: 67px;
                line-height: 63px;
                margin-bottom: 8px;

                img {
                    width: 40px;
                }
            }

            h4 {
                font-size: 12px;
                line-height: 1.5;
                padding: 0 10px;
            }
        }
    }
}