#lp1_box3 {
    background-color: rgba(0, 0, 0, .7);
    margin-bottom: 40px;

    .container {
        align-items: center;
        justify-content: space-between;
    }

    .title {
        color: #e0ad1f;
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 0;
    }

    ul {
        margin-bottom: 0;

        li {
            display: inline-block;
            margin-left: 45px;
        }
    }

    @media (max-width:1199px) {
        ul {
            li {
                margin-left: 20px;
            }
        }
    }

    @media (max-width:991px) {
        margin-bottom: 20px;

        .title {
            font-size: 13px;
            text-align: center;
            width: 100%;
            margin-top: 10px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 0;
                padding: 0 5px;
                width: 20%;
            }
        }
    }
}