body{
    margin: 0;
}
.vm-doc{
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box
    }
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
    }
    button {
        color: inherit;
    }
    [type=button], [type=reset], [type=submit], button {
        -webkit-appearance: button;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        clear: both;
    }

    .container {
        max-width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;
    }

    a {
        text-decoration: none;
        outline: none;

        &:hover {
            text-decoration: none;
        }
    }

    .icon-svg {
        width: 18px;
        height: 18px;
        fill: currentColor;
        vertical-align: middle;
    }

    .icon-svg {
        color: #fff
    }
}
.vm-doc-sidebar-col{
    font-family: Arial;
    margin-bottom: 40px;
    padding-top: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.vm-doc-sidebar{
    a{
        transition: all 300ms ease;
    }
    .nav{
        &>li{
            &>a{
                &:hover{
                    text-decoration: none;
                    background-color: #eee;
                }
            }
        }
    }
    .title{
        font-size: 16px;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px;
        margin-bottom: 10px;
        display: none;
        color: #717074;
        text-align: center;
    }
    .vm-doc-sidenav{
        overflow-y: auto;
        max-height:100vh;
        // max-height: calc(100vh - 320px);
        
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0,121,184,.52);
            border-radius: 6px;
        }
        &::-webkit-scrollbar-track {
            background: rgba(0,121,184,.23);
            border-radius: 6px;
        }
        li{
            position: relative;
            padding-left: 10px;
            display: block;
            width: 100%;
            &.has-child{
                .nav{
                    counter-reset: item;
                    display: none;
                    a{
                        line-height: 1.375rem;
                        position: relative;
                        display: flex;
                        &::before{
                            content: counter(item);
                            counter-increment: item;
                            width: 22px;
                            height: 22px;
                            text-align: center;
                            border-radius: 50%;
                            border: 1px solid #a4a5a5;
                            font-size: .875rem;
                            flex-shrink: 0;
                            flex-grow: 0;
                        }       
                        &.active{
                            color: #1d428a;
                            &::before{
                                background-color: #1d428a;
                                color: #fff;
                                border-color: #1d428a;
                            }
                        }                
                    }
                    .text{
                        padding-left: 15px;
                    }
                }
                &>a{
                    &:hover{
                        color: #1d428a;
                    }
                }
                &.active{
                    .nav{
                        display: block;
                    }
                }
            }
            &>button{
                border: 0;
                background: 0 0;
                position: absolute;
                width: 20px;
                height: 20px;
                left: 6px;
                top: 7px;
                padding: 0;
                z-index: 1;
                &::before{
                    content: "";
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-top: 2px solid #717074;
                    border-right: 2px solid #717074;
                    transform: rotate(45deg);
                    position: absolute;
                    left: 4px;
                    top: 6px;
                    transition: 300ms ease all;
                }
            }
        }
        a{
            padding: 10px 15px;
            color: #717074;
            display: block;
            font-size: .875rem;
            line-height: 1.2;
        }
        &>li{
            &>a{
                font-weight: 700;
            }
        }
        .active{
            &>button{
                &::before{
                    transform: rotate(135deg);
                    top: 5px;
                    border-color: #1d428a;
                }
            }
            &>a{
                color: #1d428a;
            }
        }
    }    
}

.vm_toggle{
    display: none;
    position: fixed;
    right: 15px;
    top: 60px;
    border: 0;
    background: #fff;
    padding: 0;
    justify-content: center;
    align-items: center;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(.66,0,0,1);
    animation: pulse 1.25s infinite cubic-bezier(.66,0,0,1);
    box-shadow: 0 0 0 0 rgba(29, 66, 138, .7);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 999;
    .active{
        display: none;
    }
}
.overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 997;
    width: 100%;
    display: none;
}
.col-left{
    width: 270px;
}
.col-right{
    width: 870px;
    width: calc(100% - 270px);
    padding-left: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
}
.mb50{
    margin-bottom: 50px!important;
}
.mb60{
    margin-bottom: 60px!important;
}
.article-body{
    font-family: Arial;
    color: #565656;
    line-height: 1.6;
    .vm-doc-section{
        margin-bottom: 15px;
    }
    h1{
        color: #1d428a;
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 15px;
    }
    h2{
        color: #1d428a;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 15px;
    }
    h3{
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 15px;
    }
}


@media (max-width: 991px) {
    .col-right{
        padding-left: 20px;
    }
}
@media (max-width: 576px) {
    .vm_toggle{
        display: flex;
    }
    .vm-doc{
        overflow: hidden;
    }
    .col-left{
        width: 320px;
        max-width: 100%;
        position: fixed;
        top: 0;
        z-index: 998;
        bottom: 0;
        right: 0;
        -webkit-transition-duration: 0.6s;
        transition-duration: 0.6s;
        transform: translate(100%, 0%);
        
        .vm-doc-sidebar-col{
            background: #f0f3f4;
            padding-top: 0;
        }
    }
    .col-right{
        width: 100%;
        padding-left: 0;
    }
    .vm-doc-sidebar{
        .title{
            display: flex;
            height: 57px;
            align-items: center;
            justify-content: center;
        }
        .vm-doc-sidenav{
            height: 100vh;
            height: calc(100vh - 67px);
            display: block;
            a{
                font-size: 16px;
            }
            li{
                padding-left: 20px;
            }
        }
    }
    .vm-doc-sidebar-col{
        position: relative;
        z-index: 998;
    }

    .open-doc-sidebar{
        .col-left{
            transform: translate(0%, 0%);
        }
        .overlay{
            display: block;
        }
        .vm_toggle{
            display: flex;
            img{
                display: none;
            }
            .active{
                display: block;
            }
        }
    }
}   

@-webkit-keyframes pulse {
    to {
      box-shadow:0 0 0 5px transparent;
    }
  }
  
  @keyframes pulse {
    to {
      box-shadow:0 0 0 5px transparent;
    }
  }

body.open {
    overflow: hidden;
}