<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description"
        content="iOne.net chuyên trang tổng hợp tin tức giải trí showbiz, đời sống, chiêm tinh, tử vi, xu hướng thời trang và các sự kiện nổi bật trong và ngoài nước dành cho giới trẻ.">
    <meta name="keywords" content="iOne, Việt Nam">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico"
        rel="shortcut icon" />
    <link rel="stylesheet" href="css/bootstrap.css" media="all" />
    <link rel="stylesheet" href="css/general.css" media="all" />
    <!-- build:head2 -->
    <!-- build:head -->
</head>

<body class="homepage">
    <section class="section advertising-cooperation">
        <div class="container">
            <div class="tong-dai">
                Tổng đài: 02422635353 | 0965092353
            </div>
            <div class="flex-right">
                <div class="search-pc">
                    <input type="text" class="search-wrap-input" placeholder="Bạn muốn mua gì">
                    <button type="submit" class="search-box__btn">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#search"></use>
                        </svg>
                    </button>
                </div>
                <div class="login-user">
                    <a class="login" href="">Đăng nhập</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section header-main">
        <div class="container flex">
            <h1 class="logo"><img src="images/graphics/Laco.png" /></h1>
            <div class="row service">
                <div class="col-4 col-inner">
                    <div class="icon"><img src="images/graphics/giao-hang-toan-quoc.png" /></div>
                    <div class="icon-box-text">
                        <h3>Giao hàng Toàn Quốc</h3>
                        <p>Giao hàng Miễn Phí</p>
                    </div>
                </div>
                <div class="col-4 col-inner">
                    <div class="icon"><img src="images/graphics/tu-van-mien-phi.png" /></div>
                    <div class="icon-box-text">
                        <h3>0965092353</h3>
                        <p>Hỗ trợ tư vấn 24/7</p>
                    </div>
                </div>
                <div class="col-4 col-inner">
                    <div class="icon"><img src="images/graphics/thanh-toan-khi-nhan-hang.png" /></div>
                    <div class="icon-box-text">
                        <h3>Thanh toán dễ dàng</h3>
                        <p>Thanh toán khi nhận hàng</p>
                    </div>
                </div>
            </div>
            <div class="gio-hang">
                <a href="#" class="cart-link">
                    <span class="cart-title">
                        Giỏ hàng   /   <span class="cart-price">0 đ</span>
                    </span>
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>


    <section id="wrap-main-nav" class="section wrap-main-nav sticky">
        <div class="container flex">
            <a href="javascript:;" class="all-menu all-menu-tablet"><span class="hamburger"></span></a>
            <nav class="main-nav">
                <ul class="parent">
                    <li class="active">
                        <a href="#" title="">Laco home</a>
                    </li>
                    <li>
                        <a href="#" title="">Sản phẩm chăm sóc da Marosa</a>
                    </li>
                    <li>
                        <a href="#" title="">Sản phẩm chăm sóc tóc Amla</a>
                    </li>
                    <li>
                        <a href="#" title="">Sản phẩm làm đẹp Laco Luxury</a>
                    </li>
                    <li>
                        <a href="#" title="">Tin tức</a>
                    </li>
                </ul>
            </nav>
            <div class="right-head">
                <div class="search-btn">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#search"></use>
                    </svg>
                    <svg class="icon-svg close">
                        <use xlink:href="images/icons/icon.svg#close2"></use>
                    </svg>
                </div>
            </div>
            <div class="search-wrap">
                <input type="text" class="search-wrap-input" placeholder="Tìm kiếm...">
                <button type="submit" class="search-box__btn">
                    <svg class="icon-svg">
                        <use xlink:href="images/icons/icon.svg#search"></use>
                    </svg>
                </button>
            </div>
        </div>
    </section>


    <!-- build:content -->

    <!--Footer-->
    <footer class="footer">
        <div class="container">

        </div>
    </footer>
    <!--End Footer-->


    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <svg class="icon-svg">
            <use xlink:href="images/icons/icon.svg#arrow01"></use>
        </svg>
    </a>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/svgxuse.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/css-vars-ponyfill.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->
    <div class="clearfix"></div>
    <script>

    </script>
</body>

</html>