.wrap-main-nav {
    background: #fff;
    z-index: 989;
    padding: 0 40px;
    position: fixed;
    top: 0;
    width: 100%;
    transition-duration: 0.6s;

    .align-center {
        height: 96px;
        transition-duration: 0.6s;
    }

    &+.fixed-height {
        margin-top: 96px;
    }

    &.pin {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);

        .align-center {
            height: 70px;
        }
    }

    .icon-svg {
        color: var(--gray1);
    }

    &>.container {
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 128px;
    }

    .main-nav {
        display: flex;
        flex-wrap: wrap;

        .parent {
            margin-bottom: 0;
            position: relative;
            margin-top: 13px;
            padding-left: 10px;

            &>li {
                display: inline-block;
                margin-left: 30px;
                position: relative;

                h3 {
                    margin-bottom: 0;
                }

                a {
                    font: 500 14px var(--font1);
                    padding: 0 0 15px 0;
                    display: inline-block;
                    position: relative;
                }

                &.active {
                    h3 a {
                        font-weight: bold;
                        color: var(--yellow);
                    }
                }

                .sub_menu {
                    position: relative;
                    font-size: 0;

                    &::before {
                        display: none;
                        content: "";
                        border-bottom: 2px solid #A7A9AC;
                        border-right: 2px solid #A7A9AC;
                        width: 6px;
                        height: 6px;
                        position: absolute;
                        top: -10px;
                        right: -12px;
                        transform: rotate(45deg);
                    }
                }

                @media (min-width: 992px) {
                    .level2 {
                        opacity: 0;
                        filter: alpha(opacity=0);
                        visibility: hidden;
                        position: absolute;
                        min-width: 240px;
                        border-radius: 8px;
                        padding: 10px 0;
                        top: 110px;
                        left: 0;
                        z-index: 10;
                        background: #fff;
                        box-shadow: 0 8px 32px rgba(3, 44, 71, .24);
                        transition: .25s ease-out;

                        a {
                            display: block;
                            color: #404040;
                            padding: 8px 12px;
                            font-weight: 400;

                            &:hover {
                                color: var(--colormain);
                                background-color: #edf7ff;
                            }
                        }

                        .sub-icon2 {
                            font-size: 0;
                            position: absolute;
                            right: 20px;
                            top: 23px;

                            &::before {
                                content: "";
                                border-top: 1px solid #404040;
                                border-right: 1px solid #404040;
                                width: 6px;
                                height: 6px;
                                position: absolute;
                                transform: rotate(45deg);
                            }
                        }

                    }

                    .level3 {
                        min-width: 240px;
                        border-radius: 8px;
                        padding: 10px 0;
                        background: #fff;
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        z-index: 2;
                        left: 100%;
                        top: 0;
                        background: #fff;
                        box-shadow: 0 8px 32px rgba(3, 44, 71, .24);
                        transition: .25s ease-out;
                    }

                    &:hover {
                        .level2 {
                            opacity: 1;
                            filter: alpha(opacity=100);
                            visibility: visible;
                            top: 28px;

                            li {
                                &:hover {
                                    .level3 {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .right-head {
        display: flex;
        align-items: center;
        flex-grow: 2;
        justify-content: flex-end;

        .my_bds {
            .login-mb {
                display: none;
            }
        }

        a {
            position: relative;
        }

        .login {
            margin-right: 40px;
            margin-left: 10px;

            &::before {
                content: "";
                background: #ccc;
                width: 1px;
                height: 12px;
                position: absolute;
                right: -20px;
                top: 5px;
            }
        }

        .post {
            border: 1px solid #ccd3d9;
            border-radius: 4px;
            padding: 10px 16px;
            color: #004e7f;
            font-weight: 500;
            line-height: 20px;
            margin-left: 15px;

            &:hover {
                border: 1px solid #95c4e6;
                background: #edf7ff;
            }
        }
    }

    .search-btn {
        display: inline-block;
        cursor: pointer;
        height: 30px;
        width: 30px;
        position: relative;
        text-align: center;
        margin-left: 10px;

        input {
            display: none;
        }

        button {
            border: 0;
            background: none;
        }

        .icon-svg {
            color: #fff;
            position: relative;
            display: block;
            margin: 0 auto;
            top: 8px;
            width: 20px;
            height: 20px;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
            transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        }

        .close {
            width: 14px;
            height: 14px;
            opacity: 0;
            left: -5px;
        }

        &.is-clicked {
            .icon-svg {
                top: -13px;
                opacity: 0;
            }

            .close {
                opacity: 1;
                top: -9px;
            }
        }
    }

    .search-wrap {
        width: 100%;
        display: none;
        position: relative;
        margin-bottom: 10px;
        // transition-duration: 0.6s;

        .input {
            font-size: 13px;
            height: 32px;
            line-height: 32px;
            width: 100%;
            outline: 0;
            border: 0;
            padding: 0 10px 0 35px;
            border-radius: 4px;
            background: #fff;
        }

        button {
            background: none;
            position: absolute;
            left: 0;
            height: 32px;
            width: 32px;
            outline: 0;
            top: 0;

            svg {
                width: 18px;
                height: 18px;
                color: #222;
                margin-top: -1px;
            }
        }
    }

    .submenu {
        display: none !important
    }

    @media (max-width: 1480px) {
        .main-nav {
            .parent {
                padding-left: 20px;

                &>li {
                    margin-left: 15px;
                }
            }
        }
    }

    @media (max-width: 1280px) {
        padding: 0 15px;

        .logo {
            width: 110px;
        }

        &+.fixed-height {
            margin-top: 70px;
        }

        &.pin {

            .align-center {
                height: 55px;
            }
        }

        .align-center {
            height: 70px;
        }

        .main-nav {
            .parent {
                &>li {
                    margin-left: 10px;

                    .sub_menu::before {
                        right: -6px;
                    }
                }
            }
        }

        .right-head {
            .login {
                margin-right: 20px;

                &::before {
                    right: -10px;
                }
            }
        }
    }

    @media (max-width: 1100px) {
        .logo {
            width: 100px;
        }

        .main-nav {
            .parent {
                padding-left: 10px;

                &>li {
                    margin-left: 7px;
                }
            }
        }

        .right-head {
            .my_bds {
                margin: 0 5px;

                .login-mb {
                    display: block;
                }

                .login-pc {
                    display: none;
                }
            }

            .post {
                margin-left: 10px;
                padding: 6px 10px;
            }
        }
    }


    @media (max-width: 991px) {
        background: #004e7f;

        .align-center {
            height: 55px;
        }

        &+.fixed-height {
            margin-top: 95px;
        }

        .logo {
            position: absolute;
            left: 50%;
            margin-left: -50px;
            transition: 0.3s all;
        }

        .icon-svg {
            color: #fff
        }

        .post {
            display: none
        }

        .all-menu-tablet {
            display: block;
        }

        .main-nav {
            display: block;
            position: fixed;
            width: 260px;
            background: #004e7f;
            left: 0;
            top: 97px;
            bottom: 0;
            transform: translate(-110%, 0);
            transition: all .3s;

            .parent {
                display: block;
                padding-left: 0;
                margin-top: 0;

                &>li {
                    width: 100%;
                    margin-left: 0;
                    position: relative;

                    a {
                        display: block;
                        padding: 15px;
                        color: #fff;
                        font-weight: 400;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.4)
                    }

                    .sub_menu {
                        display: block;
                        position: absolute;
                        right: 0;
                        width: 40px;
                        text-align: center;
                        top: 0px;
                        line-height: 48px;
                        font-size: 25px;
                        font-family: -webkit-body;
                        color: #fff;

                        &::before {
                            display: none;
                        }
                    }

                    .level2,
                    .level3 {
                        position: static;
                        display: none;
                        background: #fff;
                        margin: 0;

                        &>li {
                            position: relative;
                            max-width: 100%;

                            a {
                                border-bottom: 1px solid #e5e5e5;
                            }
                        }

                        .sub-icon2 {
                            display: block;
                            position: absolute;
                            right: 0;
                            width: 40px;
                            text-align: center;
                            top: 0px;
                            line-height: 48px;
                            font-size: 25px;
                            font-family: -webkit-body;
                        }

                        a {
                            color: #222;
                        }
                    }

                    .level3 {
                        padding-left: 15px;

                        li {
                            a {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }

            &::after {
                width: 100%;
                height: 100vh;
                position: absolute;
                background: rgba(0, 0, 0, .75);
                bottom: -100vh;
                left: 0;
                content: '';
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                transition-duration: 700ms;
                transition-property: all;
                transition-timing-function: cubic-bezier(.7, 1, .7, 1);
            }

            &.show-all-menu {
                transform: translate(0);

                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .btn-mobile {
                display: flex
            }
        }

        &.pin {
            height: 55px;

            .align-center {
                height: 55px;
            }

            .main-nav {
                top: 55px;
            }

            .logo {
                opacity: 0;
                visibility: hidden;
                z-index: -1;
            }

            .search-wrap {
                width: 100%;
                transform: translate(0px, -45px);
                margin: 0 auto;

                button {
                    left: 70px;
                }

                .relative {
                    padding: 0 70px
                }
            }

        }

        .right-head {
            margin-top: 0;
            top: 5px;
            right: 15px;

            .search-btn {

                .icon-svg {
                    top: 12px
                }

                &.is-clicked .close {
                    top: -2px;
                }
            }

            .btn-default {
                display: none;
            }
        }

        .search-wrap {
            display: block;
            transition: 0.3s all;
        }
    }

    @media (max-width: 480px) {

        .search-btn {
            .icon-svg {
                top: 12px;
            }

            &.is-clicked .close {
                top: -4px;
            }
        }
    }
}

.all-menu-tablet {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: -15px;
    padding-top: 3px;
    cursor: pointer;
    display: none;

    .hamburger {
        width: 20px;
        height: 2px;
        background: #fff;
        display: inline-block;
        position: relative;
        transition: all .3s;

        &:before,
        &:after {
            content: '';
            width: 20px;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 0;
            transition: all .3s;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: 12px;
        }
    }

    &.close-menu-tablet {
        padding-top: 9px;

        .hamburger {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);

            &:before {
                display: none;
            }

            &:after {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                top: 0;
            }
        }
    }
}

.overlay-bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 92;
    background: rgba(0, 0, 0, 0.3);
}