.section-banner-home {
    position: relative;

    .thumb {
        padding-bottom: 30%;
    }

    .swiper-pagination {
        text-align: right;
        padding-right: 40px;
    }

    .swiper-pagination-bullet {
        background: none;
        border: 1px solid #fff;
        margin: 0 3px !important;
    }

    .swiper-pagination-bullet-active {
        background: #fff;
    }
}

.home-search {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;



    .home-search-tab {
        margin-bottom: 0;

        li {
            display: inline-block;
            width: 159.33px;
            border-radius: 5px 5px 0 0;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            background: #fff;
            opacity: .85;
            color: #777;
            padding: 12px 0 6px 0;

            &.actived,
            &:hover {
                background: rgba(0, 0, 0, .65);
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .home-search-tool {
        margin: 45px auto 0 auto;
        width: 960px;
        max-width: 100%;
    }

    .home-search-content {
        background: rgba(0, 0, 0, .65);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        border-radius: 0 5px 5px 5px;
        padding: 9px;
        width: 100%;
        margin: 0 auto;

        .home-search-control {
            background: #fff;
            border-radius: 3px 5px 5px 3px;
            display: flex;
            position: relative;
            margin-bottom: 10px;

            .search-cate {
                width: 190px;
                height: 42px;
                box-sizing: border-box;
                position: relative;
                cursor: pointer;
                border-right: 1px solid #ececec;

                .select-custom {
                    font-weight: bold;
                    color: #555;
                    border-radius: 3px 0 0 3px;
                    background-image: url(images/icons/icon-home-search.png);
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    font-size: 14px;
                    display: block;
                    line-height: 40px;
                    background-size: 20px 21px;

                    &::after {
                        content: '';
                        background: url(images/icons/icon-down-arrow.png) no-repeat center center;
                        position: absolute;
                        right: 15px;
                        top: 12px;
                        width: 15px;
                        height: 18px;
                        background-size: 15px 18px;
                    }

                    #lblCurrCate {
                        white-space: nowrap;
                        width: 119px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        margin-left: 40px;
                        font-size: 14px;
                        line-height: 42px;
                    }
                }

                .advance-select-options {
                    position: absolute;
                    top: 42px;
                    left: 0;
                    width: 226px;
                    background: #fff;
                    box-sizing: border-box;
                    display: none;
                    z-index: 10000;
                    padding: 0;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
                    border-radius: 0;
                    min-width: 226px !important;
                    border-left: 1px solid #12a9d9;
                    border-right: 1px solid #12a9d9;
                    border-bottom: 1px solid #12a9d9;

                    ul {
                        max-height: inherit;
                        max-width: inherit;
                        min-width: 226px !important;

                        li {
                            cursor: pointer;
                            padding: 0;
                            margin: 0 14px;

                            span {
                                display: block;
                                border-bottom: 1px dashed #c4c4c4;
                                font-size: 13px;
                                line-height: 29px;
                                color: #686868;
                            }

                            img {
                                margin-right: 6px;
                                vertical-align: middle;
                                width: 16px;
                            }

                            ul {
                                li {
                                    position: relative;
                                    margin: 0;

                                    span {
                                        padding-left: 25px;
                                        margin-right: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .search-input {
                width: 610px;
                width: calc(100% - 190px);
                padding-right: 150px;
                position: relative;
            }

            input[type=text] {
                width: 100%;
                height: 42px;
                padding: 12px 15px;
                font-size: 14px;
                box-sizing: border-box;
                border: 0;
            }

            .search-button {
                width: 140px;
                position: absolute;
                right: 0;

                .btn-home-search {
                    width: 140px;
                    background: #3c9f10 url(images/icons/icon-search.png) no-repeat 20px 12px;
                    border-radius: 0 5px 5px 0;
                    height: 42px;
                    text-align: center;
                    color: #fff;
                    border: 0;
                    display: block;
                    font-weight: bold;
                    font-size: 16px;
                    padding-left: 25px;
                    margin: 0;
                    background-size: 16px 16px;
                    box-sizing: border-box;
                }
            }
        }
    }

    .home-filter {
        display: flex;

        .form-group {
            width: 21%;
            padding-right: 10px;
            margin-bottom: 0;

            .select2-container {
                width: 100% !important;
            }

            .select2-selection {
                height: 40px;
                border: 1px solid #777;
                border-radius: 3px;
                background: none;

                &__rendered {
                    line-height: 40px;
                    color: #fff;
                }

                &__arrow {
                    background: url(https://file4.batdongsan.com.vn/images/newhome/icon3x/icon-down-arrow.png) no-repeat center center;
                    background-size: 15px 18px;
                    width: 15px;
                    height: 18px;
                    top: 11px;
                    right: 11px;

                    b {
                        display: none
                    }
                }
            }
        }

        .search-action {
            width: 16%;

            a {
                color: #fff;
                line-height: 40px;
                vertical-align: middle;
                display: inline-block;
                font-size: 14px;

                img {
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }

            .action-reset-search-form {
                margin-left: 10px;
            }
        }
    }

    @media (max-width: 1025px) {
        position: static;
        margin: 0 auto;
        max-width: 100%;
        padding: 0 15px;

        .home-search-tool {
            margin: 25px auto 0 auto;
        }

        .home-search-tab {
            li {
                border: 1px solid #777;
                border-bottom: 0;

                &.actived,
                &:hover {
                    border: 1px solid rgba(0, 0, 0, 0.65);
                }
            }
        }
    }

    @media (max-width: 991px) {
        padding: 0;
        scroll-behavior: smooth;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        padding-bottom: 40px;

        .home-search-content {
            background: #fff;
            box-shadow: none;
            padding: 0;
        }

        .home-search-tab {
            display: flex;
            margin-bottom: 15px;

            li {
                border: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                border-radius: 0;
                margin-right: -1px;
                font-weight: bold;
                padding: 10px 0;

                &.actived {
                    border: 1px solid #e5e5e5;
                }
            }
        }

        .home-search-content {
            .home-search-control {
                margin-bottom: 15px;

                input[type=text] {
                    border: 1px solid #e5e5e5;
                }

                .search-input {
                    padding-right: 140px;
                }

                .search-cate {
                    .select-custom {
                        border: 1px solid #e5e5e5;
                    }
                }
            }
        }

        .home-filter {
            flex-wrap: wrap;

            .form-group {
                width: 50%;
                margin-bottom: 15px;

                .select2-selection {
                    border: 1px solid #e5e5e5;

                    &__rendered {
                        color: #222
                    }

                }
            }

            .search-action {
                width: 100%;

                a {
                    color: #222;
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                    padding: 0 15px;
                }
            }
        }
    }


    @media (max-width: 414px) {
        .home-search-tab {
            li {
                width: 110px;
                font-size: 11px
            }
        }

        .home-search-content {
            .home-search-control {
                flex-wrap: wrap;

                .search-cate {
                    width: 100%;
                    margin-bottom: 15px;
                    border-right: 0;
                }

                .search-input {
                    width: 100%;
                    padding-right: 50px;
                }

                .search-button {
                    bottom: 0;
                    width: 50px;

                    .btn-home-search {
                        font-size: 0;
                        width: 50px;
                    }
                }
            }
        }

        .home-filter {
            .form-group {
                width: 100%;
                padding-right: 0;
            }
        }
    }
}

.onclick-search.active {
    &+div {
        margin-top: 96px;
    }
}



.wrap-main-nav__v2.pin {
    box-shadow: none;

    &+.fixed-height {
        margin-top: 70px;

        .search-bar {
            top: 70px
        }

        @media (max-width: 1280px) {
            margin-top: 55px;

            .search-bar {
                top: 55px
            }
        }
    }
}

.search-bar {
    position: sticky;
    top: 96px;
    background: #fff;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(3, 44, 71, .12);
    display: flex;
    align-items: center;
    padding: 0px 40px;
    width: 100%;
    margin-bottom: 30px;
    border-top: 1px solid #e5e5e5;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(.7, 1, .7, 1);
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);

    &-tab {
        display: flex;
        align-items: center;

        a {
            color: #999;
            border: 1px solid #dee2e6;
            cursor: pointer;
            background: #fff;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            border-radius: 4px;
            padding: 5px;
            width: 85px;
            text-align: center;

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:not(:last-child) {
                margin-right: -1px;
            }

            &.actived {
                color: #2c2c2c;
                border: 1px solid #dee2e6;
                background: #f2f2f2;
            }
        }
    }

    .scroll {
        display: flex;
        align-items: center;
    }

    &-suggestion {
        width: 277px;
        margin-left: 15px;
        position: relative;
        padding-right: 15px;
        margin-right: 15px;

        &::before {
            content: "";
            background: #e5e5e5;
            width: 1px;
            height: 30px;
            position: absolute;
            right: 0;
        }
    }

    .home-filter {
        display: flex;
        align-items: center;

        .form-group {
            padding-right: 15px;
            margin-right: 15px;
            margin-bottom: 0;
            position: relative;

            &::before {
                content: "";
                background: #e5e5e5;
                width: 1px;
                height: 30px;
                position: absolute;
                right: 0;
                top: 6px;
            }

            .lbl {
                display: block;
                font-size: 11px;
                color: #2c2f36;
                top: 5px;
                position: absolute;

                span {
                    position: relative;
                    padding-right: 20px;
                    background: url(images/icons/ic_caret_down.svg) no-repeat right -2px;
                }
            }

            .select2-container {
                height: 50px;
            }

            .select2-selection {
                height: 32px;
                border: 0;
                border-radius: 3px;
                background: none;
                padding-top: 20px;

                &__rendered {
                    line-height: 32px;
                    color: #000;
                    padding: 0;
                }

                &__arrow {
                    display: none
                }
            }
        }

        .filter-control {
            position: relative;
            margin-right: 15px;

            .select-control-label {
                line-height: 50px;
                padding: 0 10px;
                cursor: pointer;

                &:hover {
                    background: #f5f6f7;
                }
            }

            .select-filter-dropbox {
                box-shadow: 0px 20px 34px rgba(13, 66, 38, 0.2);
                background: #FFFFFF;
                position: absolute;
                z-index: 2;
                top: 53px;
                padding: 15px;
                width: 350px;
                right: 0;
                display: none;

                .form-group {
                    margin-right: 0;
                    padding-right: 0;
                    margin-bottom: 15px;

                    &::before {
                        display: none
                    }
                }

                .phong-ngu {
                    display: flex;

                    li {
                        width: 20%;
                        border: 1px solid #ccd3d9;
                        padding: 0;
                        text-align: center;
                        margin-left: -1px;
                        position: relative;
                        z-index: 1;
                        line-height: 40px;
                        cursor: pointer;

                        &:first-child {
                            border-left: 1px solid #ccd3d9;
                            border-radius: 4px 0 0 4px;
                            margin-left: 0 !important;
                        }

                        &:hover {
                            background: #edf7ff;
                        }

                        &:active {
                            background: #ebedf0;
                        }
                    }
                }

                .border-top {
                    margin: 10px -15px 0 -15px;
                    padding: 15px 15px 0 15px
                }
            }
        }

        .refesh {
            margin-right: 15px;
        }

        #btnSearch {
            background: #004e7f;
            border: 1px solid #004e7f;
            color: #fff;
            border-radius: 4px;
            line-height: 40px;
            padding: 0 10px;
        }
    }

    @media (max-width: 1500px) {
        &-suggestion {
            width: 200px;
        }
    }

    @media (max-width: 1366px) {
        .home-filter {
            .form-group {
                margin-right: 10px;
                padding-right: 10px;
            }
        }
    }

    @media (max-width: 1280px) {
        padding: 0 15px;

        &-tab {
            a {
                padding: 5px 2px;
                width: 75px;
            }
        }

    }

    @media (max-width: 1199px) {
        &-tab {
            display: none
        }

        &-suggestion {
            margin-left: 0;
        }

        .home-filter {
            .filter-control {
                margin-right: 5px;

                .re__text {
                    font-size: 0;
                }
            }
        }
    }

    @media (max-width: 1025px) {
        .home-filter {
            .form-group {
                padding-right: 8px;
                margin-right: 8px
            }
        }
    }

    @media (max-width: 991px) {
        display: block;
        margin: 0;

        &-tab {
            display: block;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 15px;

            a {
                width: 110px;
                padding: 10px 0;
                display: inline-block;
                text-transform: uppercase;
            }
        }

        .scroll {
            display: block
        }

        &-suggestion {
            width: 100%;
            padding-right: 0;
            margin-left: 0;
            margin-bottom: 15px;

            &::before {
                display: none;
            }

            .form-search {
                .icon_seach_web {
                    top: 4px;
                }

                .input_search {
                    height: 40px;
                }
            }
        }

        .home-filter {
            flex-wrap: wrap;
            margin-right: -15px;

            .form-group {
                width: 33.33%;
                width: calc(33.33% - 15px);
                margin-right: 15px;
                border: 1px solid #e5e5e5;
                padding: 5px 10px 0 10px;
                margin-bottom: 15px;

                &::before {
                    display: none;
                }
            }

            .filter-control {
                svg {
                    color: #222;
                }

                .re__text {
                    font-size: 14px;
                }
            }
        }
    }

    @media (max-width:576px) {
        .scroll {
            display: block;
            max-height: 64vh;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .home-filter {
            .form-group {
                width: 50%;
                width: calc(50% - 15px);
            }
        }
    }

    @media (max-width:414px) {
        .home-filter {
            .form-group {
                width: 100%;
            }

            .filter-control {
                .select-filter-dropbox {
                    width: 300px;
                    left: 0;
                    right: inherit;
                }
            }
        }
    }
}



.buid-top-bds {
    padding: 30px 0 20px 0;

    &__left {
        width: 840px;
        width: calc(100% - 250px);
        padding-right: 30px;
        margin-bottom: 20px;

        .header {
            border-bottom: 1px solid #ececec;
            margin-bottom: 24px;
        }

        .tab {
            a {
                font-weight: 600;
                font-size: 24px;
                text-transform: capitalize;
                color: #777;
                display: inline-block;
                margin-bottom: 15px;
                margin-right: 30px;
                position: relative;

                &.active {
                    color: #2d373f;

                    &::before {
                        position: absolute;
                        border: 2px solid #3c9f10;
                        background: #3c9f10;
                        width: 46px;
                        line-height: 1px;
                        border-radius: 10px;
                        bottom: -15px;
                        content: '';
                    }
                }
            }

            @media (max-width: 1199px) {
                a {
                    font-size: 20px;
                    margin-right: 15px;
                }
            }

            @media (max-width: 767px) {
                a {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }

            @media (max-width: 576px) {
                a {
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
        }

        .art_item {
            .content {
                .title_news {
                    font-size: 24px;

                    @media (max-width: 1199px) {
                        font-size: 20px;
                    }
                }
            }
        }

        .list-news {
            margin-bottom: 0;

            li {
                border-bottom: 1px solid #ececec;
                margin-bottom: 15px;
                padding-bottom: 15px;

                h3 {
                    font-size: 16px;
                }

                a {
                    color: #4f4f4f;

                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }
    }

    &__right {
        width: 250px;
        margin-bottom: 20px;
    }

    .m_small-more {
        display: none;
    }

    @media (max-width: 991px) {
        &__left {
            width: 100%;
            padding-right: 0;
            margin-bottom: 0;

            .list-news {
                li {
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
            }
        }

        &__right {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .home-small-more {
            display: none;
        }

        .m_small-more {
            display: block;
            width: 100%;
            text-align: center;
            margin: 20px 0;
        }
    }

    @media (max-width: 576px) {
        &__left {
            margin-bottom: 15px;
        }

        &__right {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 0;

            img {
                width: 100%;
            }
        }
    }
}

.list-bds {
    .art_item {
        background: #fff;
        border-radius: 4px;

        .thumb_art {
            margin-bottom: 0;

            &::before {
                position: absolute;
                height: 40px;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .48) 100%);
                content: '';
                width: 100%;
                z-index: 2;
                border-radius: 0 0 0 4px;
            }
        }

        .content {
            padding: 8px 12px 5px 12px;

            .title_news {
                font-size: 14px;
                font-weight: 500;

                a {
                    color: #004e7f;
                }
            }
        }

        &:hover {
            box-shadow: 0 2px 8px rgba(3, 44, 71, .12);
        }
    }

    &__border {
        .art_item {
            border: 1px solid #dfdfdf;
            border-radius: 0;

            .content {
                color: #555;
                padding: 12px 12px 10px 12px;

                .title_news {
                    height: 40px;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }

                .des,
                .name {
                    font-size: 12px;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .art_item {
            .content {
                padding: 12px 12px 10px 12px;
            }

            .hover-tooltip {
                width: 30px;
                height: 30px;

                .iconSave {
                    width: 30px;
                    height: 30px;
                    background-size: 20px;
                }
            }
        }
    }
}

.list-bds-address {
    .address-slide1 {
        width: 50%;
        float: left;
    }

    [class*="address-"] {
        .thumb_img {
            z-index: 2;

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
                transform: rotate(-180deg);
            }
        }

        .adrress {
            position: absolute;
            top: 20px;
            left: 28px;
            color: #fff;
            font-size: 16px;
            z-index: 2;

            h3 {
                font-size: 24px;
                font-weight: bold;
            }
        }

        @media (max-width: 991px) {
            .adrress {
                font-size: 14px;
                top: 10px;
                left: 10px;

                h3 {
                    font-size: 18px;
                }
            }
        }
    }

    ul {
        width: 50%;
        float: right;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;

        li {
            width: 50%;
            padding-left: 10px;
            margin-top: 10px;

            .thumb_5x4 {
                padding-bottom: 74%;
            }

            &:nth-child(1),
            &:nth-child(2) {
                margin-top: 0;
            }
        }

        [class*="address-"] {
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        [class*="address-"] {
            .adrress {
                top: 15px;
                left: 15px;
                font-size: 16px;

                h3 {
                    font-size: 22px;
                }
            }
        }

        .address-slide1 {
            width: 100%;
        }

        ul {
            width: calc(100% + 10px);
            margin-top: 10px;
            margin-left: -5px;
            margin-right: -5px;

            li {
                padding: 0 5px;
            }
        }
    }
}

.tag-list {
    padding: 15px 0;

    .swiper-slide {
        display: inline-block;
        float: left;
        margin-right: 11px;
        background: #ececec;
        border-radius: 5px;
        padding: 8px 14px;
        width: auto;
    }
}

.slide-duan {

    .swiper-button-prev,
    .swiper-button-next {
        top: 30%;
    }

    .swiper-button-prev {
        left: -20px;
    }

    .swiper-button-next {
        right: -20px;
    }
}

.home-utility {
    margin-bottom: 40px;

    .color-1 {
        background: #7ac6ea;
    }

    .color-2 {
        background: #50a9d3;
    }

    .color-3 {
        background: #4a7eb7;
    }

    .color-4 {
        background: #2668a2;
    }

    ul {
        li {
            width: 25%;
            height: 85px;
            vertical-align: middle;
            border-right: 1px solid #fff;
            display: inline-block;
            color: #fff;
            float: left;

            a {
                display: block;
                text-align: center;
                vertical-align: middle;
                line-height: 85px;
                color: #fff;
                font-weight: 600;
                font-size: 18px;

                &:hover {
                    background: #68ae49;
                }
            }

            img {
                vertical-align: middle;
                margin-right: 10px;
            }

            &:last-child {
                border: none;
            }
        }
    }

    @media (max-width: 991px) {
        ul {
            li {
                width: 50%;
            }
        }
    }

    @media (max-width: 576px) {
        ul {
            li {
                width: 100%;
            }
        }
    }
}

.slide-doanhnhgiep {
    .swiper-container {
        padding: 5px 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 50%;
        margin-top: -24px;
    }

    .swiper-button-prev {
        left: -20px;
    }

    .swiper-button-next {
        right: -20px;
    }

    .itemt {
        height: 109px;
        display: block;
        border: 1px solid #ececec;
        position: relative;

        img {
            max-height: 83px;
            max-width: 130px;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            -webkit-filter: grayscale(1);
            -webkit-transition: all .5s ease-in-out;
        }

        &:hover {
            box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

            img {
                -webkit-filter: grayscale(0);
            }
        }

        @media (max-width: 991px) {
            height: 60px;

            img {
                max-height: 95%;
                max-width: 95%;
            }
        }
    }
}

.boxLinkFooter {
    background: #f5f5f5;
    padding: 30px 0;

    h3 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    ul {
        margin-bottom: 0;

        li {
            margin-bottom: 5px;

            a {
                color: #055699;
                font-size: 13px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .grid {
            column-gap: 15px;
            row-gap: 15px;
        }
    }

    @media (max-width: 767px) {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.title-page {
    font-size: 25px;
    margin-bottom: 15px;
}

.flex-main {
    margin-top: 96px;
    padding: 0 0 24px 0;

    @media (max-width: 1280px) {
        margin-top: 70px;

        .search-bar {
            top: 70px
        }
    }

    @media (max-width: 991px) {
        margin-top: 97px;
        padding-top: 24px;
    }
}

.wrap-main-nav.pin {
    &+.flex-main {
        .search-bar {
            top: 70px
        }
    }

    @media (max-width: 1280px) {
        &+.flex-main {
            .search-bar {
                top: 55px
            }
        }
    }
}

.main-right {
    width: 300px;

    .box-common {
        box-sizing: border-box;
        border-radius: 4px;
        padding: 0 16px;
        width: 100%;
        margin-bottom: 16px;

        .box-title {
            padding: 10px 0;
            box-shadow: inset 0 -1px 0 #ebedf0;
            font-weight: 500;
            color: #2c2f36;
        }

        .box-content {
            padding: 12px 0;
            position: relative;

            li {
                color: #474d57;
                margin-bottom: 4px;
            }
        }
    }

    .box-common-border {
        border: 1px solid #ebedf0;
    }

    .box-common-filled {
        background: #f5f6f7;
    }

    .box-contact,
    .desktop-contact {
        border: 1px solid #ebedf0;
        border-radius: 4px;
        padding: 16px 0;
        margin-bottom: 16px;
    }

    .box-contact {
        .user {
            padding: 0 16px;

            .avatar {
                text-align: center;

                span {
                    background: #edf7ff;
                    border: 1px solid #ebedf0;
                    box-sizing: border-box;
                    border-radius: 800px;
                    font-weight: 500;
                    width: 64px;
                    height: 64px;
                    font-size: 20px;
                    line-height: 64px;
                    text-align: center;
                    letter-spacing: -.16px;
                    color: #004e7f;
                    display: inline-block;
                    margin-bottom: 8px;
                }
            }

            .name {
                font-size: 17px;
                line-height: 24px;
                text-align: center;
                letter-spacing: -.16px;
                color: #2c2f36;
                margin-bottom: 4px;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 15px;
            }

            .phone {
                width: 100%;
                line-height: 20px;
                height: initial;
                padding: 13px 15px;
                border-radius: 8px;
                color: #fff;
                background: #07a35d;
                border: 1px solid #07a35d;
                font-weight: 500
            }

            .mail {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #2c2f36;
                margin-bottom: 8px;
            }

            .btn {
                display: block;
                color: #2c2c2c;
                background: #fff;
                border: 1px solid #ccc;
                font-size: 14px;
                font-weight: 500;
                padding: 15px 10px;
                margin-top: 10px;
                border-radius: 6px;

                &:hover {
                    background: #f2f2f2;
                    border: 1px solid #ccc;
                }

                &:active {
                    background: #505050;
                    border: 1px solid #505050;
                    color: #fff
                }
            }
        }

    }

    ul,
    .box-title {
        margin-bottom: 0;
    }

    .box-nha-moigioi {
        .art_item {
            align-items: center;

            .thumb_img {
                border-radius: 50%
            }

            .content {
                color: #747c87;
                font-size: 14px;

                .title_news {
                    font-size: 14px;
                    font-weight: bold;

                    a {
                        color: #2d373f;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        width: 100%;
    }
}

.main-left {
    width: 846px;
    width: calc(100% - 300px);
    padding-right: 24px;

    .product-nav-bar {
        .form-group {
            max-width: 300px;
            margin-left: auto;
        }
    }

    @media (max-width: 991px) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }
}

.list-bds__v2 {
    .art_item {
        border: 1px solid #ebedf0;
        border-radius: 4px;

        .thumb_img {
            padding-bottom: 95.3%;
            border-radius: 4px 0 0 4px;
        }

        .content {
            .title_news {
                font-size: 16px;

                a {
                    color: #c12f25;
                    display: block;
                    text-indent: 20px;
                    text-transform: uppercase;
                    background: url(images/icons/ic_star.svg) no-repeat left 0;
                }
            }

            .description {
                max-height: 42px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }

        &.vip1 {
            .thumb_art {
                &::after {
                    content: url(images/icons/new-hot-tag.svg);
                    position: absolute;
                    top: 8px;
                    left: -4px;
                    width: 76px;
                    height: 24px;
                    z-index: 9;
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .art_item {
            .thumb_img {
                padding-bottom: 83.3%;
            }

            .content {
                .description {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .art_item {
            .thumb_img {
                padding-bottom: 85.3%;
            }

            .thumb_art {
                width: 180px;
            }

            .content {
                width: calc(100% - 180px);

                .title_news {
                    max-height: 42px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }

            }
        }
    }

    @media (max-width: 414px) {
        .art_item {
            .thumb_img {
                padding-bottom: 73.3%;
                border-radius: 4px 4px 0 0px;
            }

            .thumb_art {
                width: 100%;
            }

            .content {
                width: 100%;
                padding: 15px 10px 10px 10px;

                .title_news {
                    max-height: 100%;
                    -webkit-line-clamp: inherit;
                }

                .description {
                    display: block;
                }
            }
        }
    }
}

.product-seo-tag {
    padding: 16px 0 4px 0;

    .seo-tag-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #2c2f36;
        margin-bottom: 16px;
    }

    ul {
        li {
            float: left;
            padding: 0;
            margin-bottom: 8px;

            a {
                padding: 6px 12px;
                margin: 0 8px 0 0;
                vertical-align: middle;
                background: #f5f6f7;
                border-radius: 20px;
                color: #2c2f36;
                line-height: 20px;
                position: relative;
                display: inline-block;
            }
        }

    }
}

.product-seo-text {
    padding: 16px 0 8px 0;

    * {
        color: #747c87 !important;
        line-height: 24px !important;
        font-family: Roboto, Arial !important;
    }
}

.box-search-duan {
    border: 1px solid #dee2e6;
    padding: 15px;
    margin-bottom: 30px;

    .col1 {
        color: #055699;
        text-transform: uppercase;
        font-weight: bold;
        width: 130px;
    }

    .col2 {
        width: 88%;
        width: calc(100% - 130px);
        position: relative;

        .search-input {
            position: relative;

            input {
                height: 35px;
                font-size: 13px;
                font-style: italic;
                padding-right: 110px;
            }

            .search-btn {
                position: absolute;
                right: 0;
                background: #3c9f10;
                color: #fff;
                font-size: 13px;
                font-weight: bold;
                height: 35px;
                border-radius: 0 5px 5px 0;
                width: 100px;

                svg {
                    color: #fff;
                    margin-right: 5px;
                }
            }
        }
    }

    .expand {
        text-align: center;
        color: #777777;
        font-size: 12px;
        cursor: pointer;
        margin-top: 10px;
        width: 100%;
    }

    .serachcontrol {
        margin: 0 -5px;

        [class*="col-"] {
            padding: 0 5px;
        }

        .form-group {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }

    @media (max-width: 991px) {
        margin-bottom: 0;
        border: 0;

        .close-menu {
            margin-bottom: 30px;
        }

        .col1 {
            width: 100%;
            margin-bottom: 15px;
            text-align: center;
        }

        .col2 {
            width: 100%;
        }
    }
}

.prj-top-by-cate {
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 3px;

    ul {
        margin-bottom: 0;

        li {
            list-style: none;
            display: inline-block;

            a {
                span {
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-right: 18px;
                    color: #555;
                    font-weight: normal;
                    margin-bottom: 5px;
                    padding-bottom: 5px;

                    &:hover {
                        color: #055699;
                        border-bottom: 2px solid #055699;
                    }
                }
            }

            &.active {
                a {
                    span {
                        color: #055699;
                        border-bottom: 2px solid #055699;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        ul {
            li {
                a {
                    span {
                        font-size: 14px;
                        margin-right: 12px;
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {
        ul {
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            li {
                a {
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.prj-line {
    border-bottom: 1px solid #dedede;
    padding-bottom: 5px;
    margin-bottom: 10px;

    span {
        color: #055699;
        font-size: 18px;
        padding-bottom: 6px;
        border-bottom: 2px solid #055699;
        text-transform: uppercase;
    }
}

.list-du-an {
    .art_item {
        border: 1px solid #dfdfdf;

        .content {
            padding: 24px;

            .title_news {
                margin-bottom: 15px;

                a {
                    color: #004e7f;
                }
            }

            .itemt {
                display: flex;
                font-size: 13px;
                color: #555;
                margin-top: 8px;

                .col1 {
                    width: 45px;
                    display: inline-block;
                    text-align: left;
                }

                .col2 {
                    width: calc(100% - 45px);
                    padding-left: 20px;
                }

                .price {
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 575px) {
            .thumb_art {
                width: 100%;
            }

            .content {
                width: 100%;
                padding: 15px;
            }
        }
    }
}

#slide-duan1 {
    padding-bottom: 20px;

    .swiper-button-prev,
    .swiper-button-next {
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 0;
        font-size: 13px;
        top: inherit;
        bottom: 0;
    }

    .swiper-button-prev {
        left: inherit;
        right: 22px;
    }
}

//Page Đăng tin
#gglbody {
    clear: both;
    border: 3px solid #055699;
    margin: 0 0 5px 0;
    padding: 10px;
    display: none;
    font-size: 13px;

    .redfont {
        color: red;
    }
}

.flatbox {
    .box-header {
        background: none repeat scroll 0 0 #055699;
        width: 100%;
        padding: 10px;
    }

    h3 {
        text-align: center;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
    }

    .boxtext {
        display: block;
        margin: 0;
        padding: 10px;
    }
}

.page-post {
    .post-bg-Title {
        height: 50px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 20px;

        .bg {
            background-image: url(https://content.batdongsan.com.vn/Images/userpage2016/icon-dang-tin.png);
            background-position: 0;
            background-repeat: no-repeat;
            display: inline-block;
            padding: 0 60px;
        }

        h1 {
            font-size: 22px;
            font-weight: 500;
            text-transform: uppercase;
        }

        div {
            font-size: 12px;
        }

        @media (max-width: 767px) {
            h1 {
                font-size: 18px;
            }
        }

        @media (max-width: 576px) {
            height: auto;
            margin-top: 20px;
            margin-bottom: 10px;

            .bg {
                padding: 0 40px;
                background-size: 40px;
            }

            h1 {
                font-size: 16px;
            }
        }
    }
}

#divPostNews {
    font-size: 13px;
}

.rowHeader {
    background-color: #055699;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    padding: 10px 15px;
}

.rowContent {
    border: 1px solid #999;
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px;

    .flex {
        .lbl {
            width: 130px;
            margin-top: 5px;
        }

        .wrap-input {
            width: 230px;
            width: calc(100% - 130px);
        }
    }

    .col-12 {
        .lbl {
            width: 130px;
        }

        .wrap-input {
            width: 620px;
            width: calc(100% - 130px);
        }
    }

    .row {
        margin: 0 -8px;
    }

    [class*="col-"] {
        padding: 0 8px;
    }

    p {
        margin-bottom: 10px;
        font-size: 13px;
        color: #666;

        a {
            text-decoration: underline !important;
            color: blue !important;
        }
    }

    .product-video {
        .icon-add-video {
            border: 2px dashed #cbd9ca;
            background-color: #f0f6f2;
            width: 77px;
            height: 77px;
            float: left;

            label {
                color: #390;
                font-size: 60px;
                display: inline-block;
                height: 33px;
                width: 44px;
                margin: -20px 16px 5px 18px;
            }

            span {
                font-size: 11px;
                font-family: Arial;
                display: block;
                text-align: center;
            }
        }

        p {
            height: 80px;
            line-height: 80px;
            padding-left: 100px;
        }
    }

    .map {
        iframe {
            width: 100%;
        }
    }

    @media (max-width: 576px) {
        padding: 15px 15px 5px 15px;
    }
}

.block-upload-item {
    height: 170px;
    overflow: hidden;
    position: relative;
    width: 164px;
    margin-right: 5px;
    border: 2px dashed #cbd9ca;
    background-color: #f0f6f2;
    background-image: url(images/icons/bg-upload-image.png);
    background-position: center 30px;
    background-repeat: no-repeat;
    cursor: pointer;

    p {
        font-size: 11px;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    input[type=file] {
        position: absolute;
        right: 0px;
        top: 0px;
        font-family: Arial;
        font-size: 118px;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        opacity: 0;
        width: 164px !important;
        height: 170px !important;
    }
}

.guide-360 {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #666;

    .card-header {
        font-weight: bold;
        color: #666;

        img {
            margin-right: 5px;
        }
    }

    .normalblue {
        color: #055699;
    }

    .titgd {
        font-size: 14px;
        color: #055699;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    ol {
        margin-left: 15px;

        li {
            list-style: none;
            margin-bottom: 5px;
        }

        ul {
            margin-left: 35px;

            li {
                list-style-image: url(images/icons/arrow.png);
                margin-bottom: 0;
            }
        }
    }
}


.text-header {
    background: #055699;
    color: #fff;
    font-weight: 500;
    padding: 6px 14px;
    font-size: 15px;
}

.column-left {
    width: 238px;
    margin-bottom: 30px;
    .userpoint_menu {
        color: #055699;
    }

    .title {
        color: #666;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        background-color: #e8e8e8;
    }

    .item {
        margin: 15px 0 15px 0;
        list-style: none;

        .row-content {
            background: 0;
            margin-left: 5px;
            margin-top: 7px;
            margin-bottom: 7px;
            padding: 0;
            padding-left: 1em;
            position: relative;

            &::before {
                content: "";
                background: #666;
                width: 4px;
                height: 4px;
                position: absolute;
                left: 5px;
                top: 8px;
                border-radius: 50%;
            }

            a.selected {
                color: #E47313;
            }
        }
    }

    @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

.column-right {
    width: 872px;
    width: calc(100% - 238px);
    padding-left: 15px;
    margin-bottom: 30px;
    .row {
        margin: 0 -8px
    }

    [class*="col-"] {
        padding: 0 8px;
    }

    @media (max-width: 991px) {
        width: 100%;
        padding-left: 0;
    }
}

//Thông tin cá nhân
.useravatar {
    img.avatar {
        width: 108px;
        height: 108px;
        margin: 20px 60px;
        border-radius: 56px;
    }

    .userfullname {
        color: #069;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        font-weight: bold;
    }
}

.userbalance {
    background: #f0f6f2;
    border: 1px dashed #cbd9ca;
    margin: 15px 10px;
    padding: 10px;
}