@media (max-width: 1199px) {
   .list-bds{
       &.grid {
        column-gap: 16px;
        row-gap: 16px;
       }
   }
}
@media (max-width: 991px) {
   .list-bds{
       &.grid {
        grid-template-columns: repeat(3, 1fr);
       }
   }
   .title-cate{
       font-size: 20px;
   }
}

@media (max-width: 767px) {
    .list-bds{
        &.grid {
          grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 576px) {
    .list-bds{
        &.grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .hidden-mobile {
        display: none;
    }
    .swiper-button-prev, .swiper-button-next{
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 20px;
    }
    .slide-doanhnhgiep .swiper-button-prev,.slide-duan .swiper-button-prev{
        left: -10px;
    }
    .slide-doanhnhgiep .swiper-button-next,.slide-duan .swiper-button-next{
        right: -10px;
    }
    .hover-tooltip .tooltip-s{
        display: none;
    }
}